.borderred {
	border: 1px solid red;
}

body {
	background-color: #EEEEEE;
}

/* MDB Dropdowns */
.select-wrapper span.caret {
	top: 0.7rem;
}

.select-wrapper input.select-dropdown {
	height: 2.2rem;
}

.select-wrapper.text-white input {
	color: white;
}

.select-wrapper.mb-0 input {
	margin-bottom: 0;
}

/* MDB Checks */
.checkbox-rounded [type="checkbox"][class*='filled-in']+label:after {
	border-radius: 50%;
}

.checkbox-success-filled [type="checkbox"][class*='filled-in']:checked+label:after {
	border-color: #00C851;
	background-color: #00C851;
}
.form-check-input[type=checkbox].filled-in:checked+label:after, label.btn input[type=checkbox].filled-in:checked+label:after {
	top: 0;
	width: 20px;
	height: 20px;
	border: 2px solid #a6c;
	background-color: #a6c;
	z-index: 0;
}

.form-check-input[type=radio]:disabled+label:before, label.btn input[type=radio]:disabled+label:before {
	border-color: #a9a9a9;
	background-color: darkgrey;
}

.form-check-input[type=radio]:checked+label:after, label.btn input[type=radio]:checked+label:after {
	border-color: #a9a9a9;
	background-color: #ff0057;
}

/* MDB Modals */
@media (min-width: 576px) {
	.modal-dialog {
		max-width: 640px;
	}
}

/* Modal form add exercise to routine*/
.sets-form input {
	font-size: 14px !important;
	color: white !important;
}


.sets-form label {
	font-size: .8rem;
}

/* Card exercise sm - program */
.card-exer-sm div:hover {
	background-color: rgba(0,0,0,.60);
	-webkit-transition: background-color 150ms linear;
	-ms-transition: background-color 150ms linear;
	transition: background-color 150ms linear;
}

/**************************/
/*  CARDS TIPO DASHBOARD  */
/**************************/
.card-stats {
	height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}

/* Header de la card */
.card-stats .card-header {
	margin: 0 10px;
	padding: 0;
	position: relative;
	z-index: 3!important;
	font-size: 14px;
	text-align: right;
	border: none;
}

@media (max-width: 575px) {
	.card-stats .card-header .card-icon {
		float: left;
		padding: 10px;
		margin-top: -10px;
		margin-left: 0px;
		margin-right: 10px;
		border-radius: 6px;
		text-align: center;
		color: white;
		font-size: 14px;
	}
}

@media (min-width: 576px) {
	.card-stats .card-header .card-icon {
		float: left;
		width: 80px;
		height: 80px;
		padding: 20px;
		margin-top: -20px;
		margin-right: 15px;
		border-radius: 6px;
		font-size: 30px;
		color: white;
		text-align: center;
	}
}

.card-stats .card-header .card-category {
	margin: 5px 0;
	color: #999;
}

/* Body de la card */
.card-stats-sm .card-body {
	padding: 8px 8px;
	text-align: center;
	display: flex;
	flex-flow: column;
	justify-content: center;
	
}

.card-stats-sm .card-body span {
	font-size: 12px !important;
}

.card-stats-sm .card-body span:nth-of-type(odd) { 
	color: #999 !important;
}

.card-stats-sm .card-body span:nth-of-type(even) { 
	color: #000 !important;
}

/* Footer de la card */
.card-stats .card-footer {
	border: none;
	padding: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 1px solid #ddd;
	margin-left: 15px;
	margin-right: 15px;
}

.card-stats .card-footer, .card-stats .card-footer > span {
	font-size: 12px;
	line-height: 22px;
}

.text-light-grey {
	color: #999;
}

.card-icon-success {
	background: linear-gradient(60deg, #66bb6a, #43a047);
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(76, 175, 80, .4);
}

.card-icon-primary {
	background: linear-gradient(60deg, #ab47bc, #8e24aa);
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(156, 39, 176, .4);
}

.card-icon-info {
	background: linear-gradient(60deg, #26c6da, #00acc1);
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(0, 188, 212, .4);
}

.card-icon-warning {
	background: linear-gradient(60deg, #ffa726, #fb8c00);
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(255, 152, 0, .4);
}

.card-icon-danger {
	background: linear-gradient(60deg, #ef5350, #e53935);
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(244, 67, 54, .4);
}

.card-icon-rose {
	background: linear-gradient(60deg, #ec407a, #d81b60);
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(233, 30, 99, .4);
}

/* TABLA */
table {
	text-align: center;
	color: white;
}

table thead {
	background-color: #4A4A4A;
}

table thead tr th {
	font-weight: bold;
	font-size: 12px !important;
}

table tbody tr td {
	color: black;
	font-size: 12px !important;
	font-weight: bold;
}

table tbody tr td:first-child {
	color: white !important;
	background-color: #4A4A4A;
	text-align: center;
}

table tbody tr td:first-child div:hover {
	background-color: #E91E63;
}

.celda-light-grey {
	background-color: #C0C0C0;	
	color: white;
}

@media (max-width: 575px) { 
	table thead tr th:first-child, table tbody tr td:first-child {
		width: 100px;
	}
}

table td, table th {
	width: 100px;
}

table td {
	padding: 10px !important;
}

table.table td div {
	height: 70px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.table a {
	margin: 0 !important;
}
