/* MDB Dropdowns */
.select-wrapper span.caret {
	top: 0.7rem;
}

.select-wrapper input.select-dropdown {
	height: 2.2rem;
}

/* MDB Search */


/* MDB Modals */
@media (min-width: 576px) {
	.modal-dialog {
	    max-width: 640px;
	}
}

/* Modal form add exercise to routine*/
.sets-form input {
	font-size: 14px !important;
	color: white !important;
}


.sets-form label {
	font-size: .8rem;
}
