/* Developer */ 
.borderred {
	border: 1px solid red;
}

/* Tarjetas de ejercicios rutina */
.card-exercise .card-footer > p {
	line-height: 1.1;
}

.card-exercise .card-body > a {
	text-decoration: none;
}

.card-exercise-img {
	position: relative;
}

.card-exercise-img .btn {
	position: absolute;
	border-radius: 5px;
}

@media (max-width: 600px) {
	 .card-exercise .card_botones_xs {
		position: absolute;
		top: -110px;
		right: 0px;
	}
}

/* Tarjetas de ejercicios lista */
.card-exercise-list .card-body > p {
	line-height: 1.1;
}

.card-exercise-list .card-body > a {
	text-decoration: none;
}

@media (max-width: 600px) {
	 .card-exercise-list .card_botones_xs {
		position: absolute;
		top: 5px;
		right: 5px;
	}
}

/* Barra de busqueda de ejercicios */
#filtro_ejercicios #accordion .panel-heading {
	color: #9fabb7;
}

#filtro_ejercicios .panel-heading h4 {
	font-family: "Open Sans", sans-serif !important;
	font-size: 13px !important;
	font-weight: 600 !important;
	text-transform: uppercase;
}

#filtro_ejercicios {
	color: #66717d !important;
	font-size: 13px;
}

.collapse-content {
	max-height: 150px;
	overflow-y: auto;
	height: 100%;
}

/*------------ Main Menu ------------*/
.mainmenu, .submenu > li {
    cursor: pointer;   
}

.mainmenu > li {
    box-sizing: border-box;
    color: #f7f1e3;
    border-top: 1px solid #d05942;
    background-color: #e4644b;
}

.mainmenu > li:first-child {
    border-radius: 7px 7px 0 0;
}

.mainmenu > li:last-child {
    border-radius: 0 0 7px 7px;
}

.mainmenu > li .messages {
    font-size: 14px;
    float: right;
}

.submenu {
    font-size: 14px;
    color: #ae9f9f;
}

.submenu li {
    transition: border-left 220ms ease-in;
    border-left: solid 6px #484141;
    background-color: #484141;
}

.submenu li:hover {
    border-left: solid 6px #d05942;
}

.submenu .chosen, .submenu .chosen:hover {
    border-left: solid 6px #96d145;
}